@model DACNPM.Models.Product

@{
    ViewData["Title"] = "Products Details";
}

<div class="card mb-4 mt-5">
    <div class="card-header">
        <i class="fas fa-shopping-cart"></i>
        <strong>@ViewBag.Title</strong>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12 offset-1">
                <div class="row g-3">
                    <div class="col-md-5">
                        <div class="form-group mb-3">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" readonly />

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" readonly />

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label asp-for="Stock" class="control-label"></label>
                                    <input asp-for="Stock" class="form-control" readonly />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label asp-for="Category!.CategoryName" class="control-label"></label>
                                    <input class="form-control" value="@Model.Category!.CategoryName" readonly />

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label asp-for="ProductType!.Type" class="control-label"></label>
                                    <input class="form-control" value="@Model.ProductType!.Type" readonly />

                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea class="form-control" asp-for="Description" rows="3" readonly></textarea>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-secondary" asp-controller="Products" asp-action="Index">Show All</a>
                            <a class="btn btn-danger float-end" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.ProductID">Delete</a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-3">
                            @{
                                var datetime = Model.CreatedAt.ToString();
                            }
                            <label asp-for="CreatedAt" class="control-label"></label>
                            <input type="text" class="form-control" readonly value="@datetime" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ProductImage" class="control-label"></label>
                            <input asp-for="ProductImage" class="form-control" readonly />
                        </div>
                        <div class="form-group text-center">
                            <img id="ProductImagePreview" src="@Url.Content("~/img/" + Model.ProductImage)" style="max-width: 250px" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ProductImage1" class="control-label"></label>
                            <input asp-for="ProductImage1" class="form-control" readonly />
                        </div>
                        <div class="form-group text-center">
                            <img id="ProductImagePreview1" src="@Url.Content("~/img/" + Model.ProductImage1)" style="max-width: 250px" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ProductImage2" class="control-label"></label>
                            <input asp-for="ProductImage2" class="form-control" readonly />
                        </div>
                        <div class="form-group text-center">
                            <img id="ProductImagePreview2" src="@Url.Content("~/img/" + Model.ProductImage2)" style="max-width: 250px" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ProductImage3" class="control-label"></label>
                            <input asp-for="ProductImage3" class="form-control" readonly />
                        </div>
                        <div class="form-group text-center">
                            <img id="ProductImagePreview3" src="@Url.Content("~/img/" + Model.ProductImage3)" style="max-width: 250px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProductImagePreview');
            output.src = URL.createObjectURL($("#ProductImage")[0].files[0]);
        })
        $("#ProductImage").on("change", function () {
            var output = document.getElementById('ProductImagePreview');
            output.src = URL.createObjectURL(this.files[0]);
        })
        $(document).ready(function () {
            var output = document.getElementById('ProductImagePreview1');
            output.src = URL.createObjectURL($("#ProductImage1")[0].files[0]);
        })
        $("#ProductImage1").on("change", function () {
            var output = document.getElementById('ProductImagePreview1');
            output.src = URL.createObjectURL(this.files[0]);
        })
        $(document).ready(function () {
            var output = document.getElementById('ProductImagePreview2');
            output.src = URL.createObjectURL($("#ProductImage2")[0].files[0]);
        })
        $("#ProductImage2").on("change", function () {
            var output = document.getElementById('ProductImagePreview2');
            output.src = URL.createObjectURL(this.files[0]);
        })
        $(document).ready(function () {
            var output = document.getElementById('ProductImagePreview3');
            output.src = URL.createObjectURL($("#ProductImage3")[0].files[0]);
        })
        $("#ProductImage3").on("change", function () {
            var output = document.getElementById('ProductImagePreview3');
            output.src = URL.createObjectURL(this.files[0]);
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

