@model IEnumerable<DACNPM.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="section mt-5">
    <div class="container">
        <p>
            <a class="btn btn-success" asp-action="Create">Create new Product</a>
        </p>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-shopping-cart"></i>
                <strong>@ViewBag.Title</strong>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.ProductName)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.ProductImage)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Price)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Stock)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.ProductName)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.ProductImage)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Price)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Stock)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr class="text-center">
                                <td class="align-middle">@Html.DisplayFor(model => item.ProductName)</td>
                                <td class="align-middle">
                                   
                                    <img src="@Url.Content("~/img/" + item.ProductImage)"
                                         alt="@Html.DisplayFor(model => item.ProductName)" style="max-width:60px" />
                                </td>
                                <td class="align-middle">$@Html.DisplayFor(model => item.Price)</td>
                                <td class="align-middle">@Html.DisplayFor(model => item.Stock)</td>
                                <td class="align-middle">
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ProductID"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ProductID"><i class="fas fa-eye"></i></a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductID"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
